/*@import url("reset.css");*/

:root {
    --grey: rgb(49, 49, 49);
    --orange: #ffc764;
}

head {
    margin: 10em;
    padding: 10em;
}

body {
    background-color: whitesmoke;
    color: var(--grey);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6em;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
}

#refHead {
    color: var(--grey);
}

.flexContainer {
    width: 95%;
    margin: auto;
    padding: 1%;
    overflow: hidden;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block__button,
.social__button,
.navbar__button,
.search__button {
    color: #fff;
    border: none;
    background-color: var(--grey);
    text-decoration: none;
    padding: 10px 15px;
}

.block__button:hover,
.social__button:hover,
.search__button:hover,
.navbar__button:hover,
.search__button:hover {
    background: var(--orange);
    color: var(--grey);
}

.block {
    text-align: center;
    padding: 1%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex>* {
    flex: 1 1 350px;
}

#mainHeader {
    background-color: var(--orange);
    font-style: italic;
    font-weight: 400;
}

#mainHeader h1 {
    font-size: 6vh;
}

.search__button,
.block__button {
    float: right;
}

input[type="text"]:focus {
    border: 2px solid var(--grey);
}

.navbar {
    overflow: hidden;
    background-color: var(--grey);
    color: #fff;
    text-align: center;
    width: 100%;
}

.navbar ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
}

.navbar li {
    flex: 1 1 10em;
}

.navbar__button {
    display: block;
}

.block img {
    display: block;
    width: 100%;
}

.block .button .navbar__button {
    float: right;
}

#social {
    position: fixed;
    bottom: 15%;
}

#social ul {
    list-style: none;
    padding-left: 1px;
}

#social a {
    background-repeat: no-repeat;
    width: 11px;
    height: 21px;
    float: left;
    background-size: 40px 40px;
    text-indent: -9999px;
    border-radius: 10px;
}

#facebook {
    background-image: url(/images/facebook.png);
}

#instagram {
    background-image: url(/images/instagram.png);
}

#twitter {
    background-image: url(/images/twitter.png);
}

#footer {
    background-color: var(--grey);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.navbar .icon {
    display: none;
}

 /* Style the navigation menu */
 .navbar {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .navbar #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .navbar a.icon {
    background:var(--grey);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .navbar a:hover {
    background-color: var(--orange);
    color: var(--grey);
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: var(--grey);
    color: white;
  } 


